<div class="comment">
<div id="comment-author">
	<%if comment.user.image%>
		<img src="<%=UPLOAD_PATH + comment.user.image%>" alt="display"> <bR>
	<%end%>

</div>
<div id="comment-date">
By <%= link_to comment.user.username , :controller => 'users', :action => comment.user.username%>   <%=time_ago_in_words(comment.datetime)%> ago <br>
</div>
<div id="comment-text">
<%=comment.text%> <br>
</div>


</div>